<div class="grid__wrapper">
    <div class="grid__container">
        <div class="grid__item item1">
            <div class="link__item honeycomb" [routerLink]="['/home']">
                Home
            </div>
        </div>
        <div class="grid__item item2">
            <div class="link__item honeycomb" [routerLink]="['/about']">
                About
            </div>
        </div>
        <div class="grid__item item3">
            <div class="link__item honeycomb" [routerLink]="['/work']">
                My Work
            </div>
        </div>
        <div class="grid__item item4">
            <div class="link__item honeycomb" [routerLink]="['/contact']">
                Contact
            </div>
        </div>
    </div>
</div>
